@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)(alertType: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(title="Retro") {
    <div class="col-md-6">
        <div class="form-group">
            <label for="identifier">Identifier</label>
            <input type="text" class="form-control" id="ident" aria-describedby="identifier-help">
            <small id="identifier" class="form-text text-muted">Unique identifier to show show submitted</small>
         </div>
        <div class="form-group">
            <label for="rate-c">Communication</label><br />
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="1"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="2"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="3" checked> 3
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="4"> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="5"> 5
            </label>
        </div>
        <div class="form-group">
            <label for="rate-c">Happiness</label><br />
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="1"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="2"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="3" checked> 3
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="4"> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="5"> 5
            </label>
        </div>
        <div class="form-group">
            <label for="rate-c">Productivity</label><br />
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="1"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="2"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="3" checked> 3
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="4"> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="5"> 5
            </label>
        </div>
      <button id="submit-button" type="submit" class="btn btn-default">Submit</button>
    </div>
    <div class="col-md-6">
        <ul id="chps-submitted" class="list-group">
        </ul>

        <div class="well">
            <h3>Average</h3>
            <span>C: </span><span id="avg-c"></span>
            <span>H: </span><span id="avg-h"></span>
            <span>P: </span><span id="avg-p"></span>
        </div>
    </div>
}(message)(alertType)
