@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)(alertType: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(title="Retro") {
    <div>
        <div class="form-group">
            <label for="rate-c">Communication</label><br />
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="1"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="2"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="3" checked> 3
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="4"> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-c" id="rate-c" value="5"> 5
            </label>
        </div>
        <div class="form-group">
            <label for="rate-c">Happiness</label><br />
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="1"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="2"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="3" checked> 3
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="4"> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-h" id="rate-h" value="5"> 5
            </label>
        </div>
        <div class="form-group">
            <label for="rate-c">Productivity</label><br />
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="1"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="2"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="3" checked> 3
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="4"> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="rate-p" id="rate-p" value="5"> 5
            </label>
        </div>
      <button id="submit-button" type="submit" class="btn btn-default">Submit</button>
    </div>
}(message)(alertType)
